.product-detail-wrapper {
    @media screen and (max-width: 767px) {
        padding: 0 20px;
    }

    h2.title {
        font-size: 20px;
        font-weight: 600;
        color: var(--color-primary);
        margin-bottom: 20px;
    }

    //action
    .action {
        margin-bottom: 24px;
        color: var(--color-secondary);
        display: flex;
        align-items: center;
        @media screen and (max-width: 739px) {
            display: none;
        }
        &.mobile {
            @media screen and (min-width: 740px) {
                display: none !important;
            }
            span.price {
                color: var(--color-primary);
                font-size: 20px;
                font-weight: 600;
                margin-right: 20px;
            }
            align-items: center;
            width: 100%;
            box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.25);
            background-color: var(--bg-primary);
            display: flex;
            position: fixed;
            bottom: 0;
            right: 0;
            left: 0;
            margin-bottom: 0;
            padding: 10px 0;
            justify-content: center;
            margin-right: 0;
        }

        button {
            display: inline-flex;
            align-items: center;
            height: 48px;
            box-shadow: 0 9px #999;
            &:active {
                box-shadow: 0 5px #666;
                transform: translateY(4px);
            }
        }

        .add-to-cart__button {
            background: var(--blue-color);
            border-radius: 8px;
            padding: 10px;
            color: inherit;
            img {
                margin-right: 8px;
            }
            &:hover,
            &:active {
                background-color: var(--frost-color);
            }
        }
        .buy-now__button {
            margin-left: 16px;
            background: var(--green-color);
            border-radius: 8px;
            color: inherit;
            padding: 10px;
            &:hover,
            &:active {
                background-color: var(--pine-color);
            }
        }
    }

    //breadcrumb
    .bread-crumb-wrapper {
        display: flex;
        align-items: center;
        margin: 32px 0;
        button.previous-page__button {
            display: none;
        }
        .bread-crumb-item {
            text-decoration: none;
            color: var(--white-40-color);
            padding: 4px 6px;
            &.current-page {
                color: var(--black-90-color);
                cursor: default;
                user-select: none;
            }
        }
        @media screen and (max-width: 740px) {
            .bread-crumb-item {
                display: none;
            }
            img.bread-crumb-icon {
                display: none;
            }
            button.previous-page__button {
                display: flex;
                align-items: center;
                width: 48px;
                height: 48px;
                justify-content: center;
                border-radius: 50%;
            }
        }
    }
    //product detail
    .product-wrapper {
        display: flex;

        .current-image {
            width: 50%;
            height: auto;
            object-fit: contain;
            margin-right: 48px;
            border-radius: 8px;
            overflow: hidden;
            img {
                border: 1px solid var(--white-15-color);
                width: 100%;
                height: auto;
                object-fit: contain;
                border-radius: inherit;
            }
        }
        @media screen and (max-width: 740px) {
            flex-direction: column;
            align-items: center;
            .current-image {
                width: 100%;
                margin-right: 0;
            }
        }
        .detail {
            width: 100%;
            .product-name {
                margin: 0;
            }
            .rate {
                margin: 18px 0 36px;
                display: flex;
                align-items: center;
                span.rate-count {
                    margin-left: 8px;
                    color: var(--white-40-color);
                }
            }
            .price {
                display: flex;
                align-items: center;
                .current-price {
                    font-size: 24px;
                    color: var(--white-color);
                    font-weight: 500;
                }
                .old-price {
                    text-decoration: line-through;
                    color: var(--white-40-color);
                    margin-left: 12px;
                }
            }
            .product-quantitys {
                margin-top: 10px;
                display: none;
            }
            .discount-percent {
                margin-top: 8px;
                color: var(--green-color);
            }
            .quantity {
                margin: 41px 0;
                button {
                    width: 24px;
                    height: 24px;
                    background: var(--blue-color);
                    border-radius: 8px;
                    border: 1px solid var(--blue-color);
                    &.decrease {
                        background-color: var(--bg-primary);
                        color: var(--blue-color);
                    }
                    &.increase {
                        color: var(--bg-primary);
                    }
                }
                span.quantity-num {
                    margin: 0 10px;
                }
            }
            .choice {
                margin-bottom: 20px;
            }
            span.total,
            .total-before-text {
                @media screen and (max-width: 740px) {
                    display: none;
                }
            }
            .shop {
                display: flex;
                align-items: center;
                .shop-avatar {
                    width: 56px;
                    height: 56px;
                    border-radius: 50%;
                    margin-right: 16px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: inherit;
                    }
                }
                .shop-name {
                    font-size: 16px;
                    font-weight: 600;
                }
                button {
                    margin-left: 100px;
                    @media screen and (max-width: 740px) {
                        margin-left: auto;
                    }
                    color: var(--bg-primary);
                    display: flex;
                    align-items: center;
                    background: var(--orange-color);
                    padding: 8px 16px;
                    border-radius: 8px;
                    img {
                        margin-right: 11.33px;
                    }
                }
            }
        }
    }
    //images
    .product-images {
        margin-bottom: 50px;
        ul {
            display: flex;
            flex-wrap: wrap;
            margin-top: 32px;
            list-style: none;
            li {
                width: 67.87px;
                height: 58px;
                margin-right: 18px;
                border: 1px solid var(--white-15-color);
                border-radius: 4px;
                overflow: hidden;
                img {
                    cursor: pointer;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                &.selected {
                    border: 1px solid var(--blue-color);
                    img {
                        cursor: default;
                    }
                }
            }
        }
    }
    .product-description {
        margin-top: 20px;
        margin-bottom: 24px;
    }
    .product-specs {
        margin-bottom: 60px;
        p {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
    .product-review {
        .header {
            display: flex;
            align-items: center;
            margin-bottom: 40px;
            img {
                margin-left: 20px;
                margin-right: 8px;
            }
        }
        main {
            .reviewer {
                margin: 24px 0 44px;
                .name-and-date {
                    color: var(--white-40-color);
                    font-size: 13px;
                }
            }
        }
        margin-bottom: 150px;
    }
}
