main {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-primary);
    margin-bottom: 40px;
    .products {
        .row {
            .product-item {
                text-decoration: none;
                margin-bottom: 40px;
                .product-image {
                    margin: 10px 0;
                    img {
                        width: 100%;
                    }
                }
                .product-info {
                    .product-name {
                        font-size: 13px;
                        line-height: 15.25px;
                        color: var(--black-90-color);
                        font-weight: bold;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        height: 30px;
                        margin-bottom: 10px;
                    }
                    .product-price {
                        display: flex;
                        align-items: center;
                        gap: 12px;
                        @media screen and (max-width: 540px) {
                            flex-direction: column;
                            align-items: center;
                        }
                        button.price {
                            background-color: var(--bg-primary);
                            border: 2px solid var(--orange-color);
                            padding: 8px 16px;
                            border-radius: 24px;
                            font-weight: bold;
                            @media screen and (max-width: 540px) {
                                font-size: smaller;
                                padding: 3px 6px;
                            }
                            .current-price {
                                color: var(--marine-color);
                            }
                            .before-price {
                                color: var(--white-30-color);
                                text-decoration: line-through;
                                font-size: 0.6rem;
                                margin-left: 4px;
                            }
                        }
                        .discount {
                            color: var(--green-color);
                            font-weight: bold;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    .hot-products {
        margin-top: 40px;
        height: 495px;
        background-color: var(--white-05-color);
        display: flex;
        justify-content: center;
        align-items: center;
        .wrapper {
            width: var(--width-primary);
            height: 415px;
            display: flex;
            flex-direction: column;
            .tabs {
                margin-bottom: 20px;
                .tab {
                    width: 252px;
                    text-align: center;
                    color: var(--orange-color);
                    padding: 10px;
                    cursor: pointer;
                    &.active {
                        cursor: default;
                        border-bottom: 3px solid var(--orange-color);
                    }
                }
            }
            .products {
                .product-item {
                    display: flex;
                    flex-direction: column;
                    .rate {
                        margin-top: 10px;
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        @media screen and (max-width: 540px) {
                            flex-direction: column;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
    .latest-products {
        .products {
            position: relative;
            .label {
                font-size: 2rem;
                font-weight: bold;
            }
            button.next {
                position: absolute;
                top: 50%;
                right: -40px;
                width: 48px;
                height: 48px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background: var(--white-15-color);
                cursor: pointer;
                &:hover {
                    background: var(--black-60-color);
                }
                img {
                    width: calc(100% / 2);
                    height: calc(100% / 2);
                }
                @media screen and (max-width: 1114px) {
                    right: -10px;
                }
            }
        }
    }
}
