@media (max-width: 1112px) {
  header {
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: column;
  }
  header .header-wrapper {
    width: 100vw;
    justify-content: space-between;
  }
  header .header-wrapper .mobile-menu {
    display: block;
    margin-left: 30px;
  }
  header .header-wrapper a.sign-in {
    display: none;
  }
  header .header-wrapper .header-search {
    display: none;
  }
  header .header-wrapper .header-cart {
    margin-right: 30px;
  }
  .header-search.mobile {
    margin-top: calc(var(--header-height) + 1px);
    display: flex;
  }
  nav.categories-nav {
    display: none;
  }
  .mobile-navigation {
    background-color: var(--bg-primary);
    display: flex;
    position: fixed;
    inset: 0;
    top: unset;
    bottom: -1px;
    align-items: center;
    height: var(--mobile-nav-height);
    z-index: 10;
  }
  .mobile-navigation .nav-item {
    border-top: 3px solid var(--black-60-color);
    padding: 8px 0;
    cursor: pointer;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .mobile-navigation .nav-item.active {
    cursor: default;
    border-top: 3px solid var(--orange-color);
    color: var(--orange-color);
  }
  .mobile-navigation .nav-item.active svg {
    fill: var(--orange-color);
  }
  .mobile-navigation .nav-item.home.active {
    color: var(--orange-color);
  }
  .mobile-navigation .nav-item.home.active svg {
    fill: transparent;
  }
  .mobile-navigation .nav-item.home.active svg path {
    stroke: var(--orange-color);
  }
  input[type=checkbox]#mobile-menu:checked ~ header .header-wrapper .mobile-menu.close {
    display: block;
  }
  input[type=checkbox]#mobile-menu:checked ~ header .header-wrapper .mobile-menu {
    display: none;
  }
  input[type=checkbox]#mobile-menu:checked ~ header .header-wrapper .header-cart {
    visibility: hidden;
  }
  input[type=checkbox]#mobile-menu:checked nav.categories-nav.mobile {
    position: fixed;
    inset: 0;
    top: var(--header-height);
    display: flex;
    flex-direction: column;
    background-color: var(--bg-primary);
    height: unset;
    margin-bottom: 0;
    bottom: -1px;
    justify-content: space-evenly;
  }
  input[type=checkbox]#mobile-menu:checked nav.categories-nav.mobile .nav-item {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
  }
  input[type=checkbox]#mobile-menu:checked nav.categories-nav.mobile .nav-item span.category-title {
    white-space: nowrap;
  }
  input[type=checkbox]#mobile-menu:checked .mobile-navigation {
    display: none;
  }
  main .hot-products {
    height: fit-content;
  }
  main .hot-products .wrapper {
    height: 100%;
  }
  footer {
    margin-bottom: calc(var(--mobile-nav-height) + 1px);
  }
  footer > .wrapper .row.list .item {
    margin-bottom: 10px;
    padding: 20px;
  }
  footer > .wrapper .row.list .item .title {
    white-space: unset;
  }
  footer > .wrapper .row.list .item .component {
    display: flex;
    align-items: center;
    line-height: 2rem;
  }
  footer > .wrapper .row.list .item .component.download-img {
    line-height: 1rem;
  }
  footer > .wrapper .row.list .item .component.download-img img {
    margin-left: -12px;
  }
  footer > .wrapper .row.list .item .component.download-img:nth-child(2) {
    padding: 4px 0;
  }
}
@media (max-width: 740px) {
  header .header-logo img {
    width: 101px;
    height: 30.1px;
  }
  main {
    margin-bottom: calc(var(--mobile-nav-height) + 50px);
  }
  main .latest-products .products button.next {
    top: 104%;
    left: 50%;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white-15-color);
    transform: translateX(-50%);
  }
  main .latest-products .products button.next img {
    width: 50%;
    height: 50%;
  }
}/*# sourceMappingURL=responsive.css.map */