//Pc
@media (max-width: 1112px) {
    header {
        position: fixed;
        top: 0;
        z-index: 1;
        background-color: var(--bg-primary);
        display: flex;
        flex-direction: column;
        .header-wrapper {
            width: 100vw;
            justify-content: space-between;
            .mobile-menu {
                display: block;
                margin-left: 30px;
            }
            a.sign-in {
                display: none;
            }
            .header-search {
                display: none;
            }
            .header-cart {
                margin-right: 30px;
            }
        }
    }
    .header-search.mobile {
        margin-top: calc(var(--header-height) + 1px);
        display: flex;
    }
    nav.categories-nav {
        display: none;
    }
    .mobile-navigation {
        background-color: var(--bg-primary);
        display: flex;
        position: fixed;
        inset: 0;
        top: unset;
        bottom: -1px;
        align-items: center;
        height: var(--mobile-nav-height);
        z-index: 10;
        .nav-item {
            border-top: 3px solid var(--black-60-color);
            padding: 8px 0;
            cursor: pointer;
            &.active {
                cursor: default;
                border-top: 3px solid var(--orange-color);
                color: var(--orange-color);
                svg {
                    fill: var(--orange-color);
                }
            }
            &.home {
                &.active {
                    color: var(--orange-color);
                    svg {
                        fill: transparent;
                        path {
                            stroke: var(--orange-color);
                        }
                    }
                }
            }
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }
    input[type='checkbox']#mobile-menu:checked {
        & ~ header {
            .header-wrapper {
                .mobile-menu.close {
                    display: block;
                }
                .mobile-menu {
                    display: none;
                }
                .header-cart {
                    visibility: hidden;
                }
            }
        }

        nav.categories-nav {
            &.mobile {
                position: fixed;
                inset: 0;
                top: var(--header-height);
                display: flex;
                flex-direction: column;
                background-color: var(--bg-primary);
                height: unset;
                margin-bottom: 0;
                bottom: -1px;
                justify-content: space-evenly;
                .nav-item {
                    display: flex;
                    flex-direction: row;
                    margin-left: 10px;
                    span.category-title {
                        white-space: nowrap;
                    }
                }
            }
        }
        .mobile-navigation {
            display: none;
        }
    }
    main {
        .hot-products {
            height: fit-content;
            .wrapper {
                height: 100%;
            }
        }
    }
    footer {
        margin-bottom: calc(var(--mobile-nav-height) + 1px);
        & > .wrapper {
            .row.list {
                .item {
                    margin-bottom: 10px;
                    padding: 20px;
                    .title {
                        white-space: unset;
                    }
                    .component {
                        display: flex;
                        align-items: center;
                        line-height: 2rem;
                        &.download-img {
                            line-height: 1rem;
                            img {
                                margin-left: -12px;
                            }
                            &:nth-child(2) {
                                padding: 4px 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 740px) {
    header {
        .header-logo {
            img {
                width: 101px;
                height: 30.1px;
            }
        }
    }
    main {
        margin-bottom: calc(var(--mobile-nav-height) + 50px);
        .latest-products {
            .products {
                button.next {
                    top: 104%;
                    left: 50%;
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: var(--white-15-color);
                    transform: translateX(-50%);
                    img {
                        width: calc(100% / 2);
                        height: calc(100% / 2);
                    }
                }
            }
        }
    }
}
