img {
    width: auto;
    height: 50px;
}

td {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    &.description__td {
        max-width: 200px;
        overflow: hidden;
    }
}
